<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/main.css"/>
</head>
<body>
    <div class="container">
        <a href="/">
            <h1> Welcome dans le Pokedex </h1>
        </a>
        {% block content %}{% endblock %}
        <hr/>
        <div class="text-center">
            Copyright -- 2018
        </div>
    </div>

    {% block js %}{% endblock %}
</body>
</html>